:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --prevailing-color: #757575;
  --header-color: #212121;
  --secondary-color: #ffffff;
  --background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --main-background-color: #ffffff;
}

/* GLOBAL RESET STYLES */
h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: auto;
}

/* GENERAL STYLES */
body {
  font-family: var(--primary-font);
  color: var(--prevailing-color);
  background-color: var(--main-background-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid red; */
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.section {
padding: 94px 0 94px 0;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

/* HEADER SECTION */
header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header-container {
  display: flex;
    align-items: center;
}

.nav-section {
display: flex;
align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo-blue {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
 gap: 50px;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--header-color);
  padding: 32px 0;
}

.current {
    color:#2196f3;
}

.contact-list {
  display: flex;
    margin-left: auto;
    gap: 50px;
}

.contact-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--prevailing-color);
  list-style-type: none;
  padding-top: 32px;
    padding-bottom: 32px;
}

/* HERO SECTION */
.hero {
  text-align: center;
  background: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  margin: auto;
  padding: 10px 32px;

}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188CE8;
}

/* BENEFITS SECTION */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-item {
flex-basis: calc((100% - 30px) / 4);
}

.benefits-header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--prevailing-color);
}

/* WHAT SECTION */
.what-section {
  padding-bottom: 94px;
}

.what-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}

.what-list {
  display: flex;
  gap: 30px;
}

.what-card {
  flex-basis: calc((100% - 30px *2) / 3);
}

/* TEAM SECTION */
.section-team {
  background: var(--team-background-color);
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-card {
  background-color:var(--main-background-color);
  flex-basis: calc((100% - 30px *3) / 4);
}

.team-wrapper {
  padding: 30px 0 30px 0;
  text-align: center;
}

.name-header {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--prevailing-color);
}

.icons-social {

}

/* FOOTER SECTION */
footer {
  padding: 60px 0 60px 0;
  background: var(--background-color);
}

.logo-white {
  color: #ffffff;
}

address {
  margin-top: 20px;
}

.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.low-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO PAGE */

/* BUTTONS*/

.button-list {
  display: flex;
  gap:8px;
  justify-content: center;
 margin-bottom: 50px;
}

.item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}

.item-btn:hover,
.item-btn:focus {
  color:var(--secondary-color);
  background-color: var(--accent-color);
}

/* PORTFOLIO LIST */

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-list > .card-item {
  flex-basis:calc((100% - 30px *2) / 3);
}

.portfolio-wrapper {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio-header {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.portfolio-item {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--prevailing-color);
  margin-top: 4px;
}
